# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for datascience
- LIst commonly used libraries
- demonstrate a table

Some of the popular languages that Data Scientists use are: 
1. R
1. Python
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. ggplot
4. dplyr
5. tidyr

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This is a simple arithmetic expressison to multiple then add integers.
(3*4)+5

17

In [10]:
#This will convers 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Liam